<div *ngIf="!isMobile" class="container desktop-container h-100">
  <div class="row h-100">
    <div class="col p-0 mt-auto mb-auto">
      <nb-card class="card ml-auto mr-auto mb-2"
      style="width: 40rem; height: 40rem;">
        <nb-card-header>
          <span class="float-left">{{chatTitle}}</span>

        </nb-card-header>

        <nb-card-body style="overflow: hidden; padding: 0;">

          <div class="row h-100 p-1">

            <div class="col-8 h-100 ">
              <app-chat [messages]="currentChat"></app-chat>
            </div>


            <div class="col-4 h-100">
              <app-users></app-users>
            </div>

          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<!-- Mobile -->
<div *ngIf="isMobile" class="mobile-container">

  <nb-card class="card mb-1">
    <nb-card-header>
      <span class="float-left">{{chatTitle}}</span>

      <div *ngIf="!isChat" class="float-right" style="cursor: pointer; color: greenyellow;" (click)="isChat=true">
        <i class="far fa-comment fa-2x"></i>
      </div>

      <div *ngIf="isChat" class="float-right" style="cursor: pointer; color: goldenrod;" (click)="isChat=false">
        <i class="fas fa-users fa-2x"></i>
      </div>

    </nb-card-header>

    <nb-card-body style="padding: 0; overflow-x: hidden;">

      <div *ngIf="isChat" class="row m-0">

        <app-chat [messages]="currentChat" style="width: 100%;"></app-chat>

      </div>

      <div *ngIf="!isChat" class="row">

        <app-users
        style="width: 100%;"></app-users>

      </div>

    </nb-card-body>
  </nb-card>

</div>
