<div class="container h-100">
  <div class="row h-100">
    <div class="col mt-auto mb-auto">
      <nb-card class="card ml-auto mr-auto" style="height: 35rem;max-width: 40rem;">
        <nb-card-header>
          <span class="float-left">Lobby</span>
          <div
          class="float-right d-lg-none"
          style="cursor: pointer; color: goldenrod;"
          (click)="isChat=false"
          *ngIf="isChat">
            <i class="fas fa-users fa-2x"></i>
          </div>
          <div
          class="float-right d-lg-none"
          style="cursor: pointer; color: greenyellow;"
          (click)="isChat=true"
          *ngIf="!isChat">
            <i class="far fa-comment fa-2x"></i>
          </div>
        </nb-card-header>
        <nb-card-body style="overflow-y: hidden;">

            <div class="row h-100" *ngIf="isChat">

              <div class="col-lg-8 col-12 h-100 ">
                <app-chat [isPrivate]="false"></app-chat>
              </div>

              <div class="col-lg-4 d-none d-lg-flex flex-column h-100 ">
                <nb-card class="mb-1 h-50">
                  <nb-card-header>Users online</nb-card-header>
                  <nb-card-body>
                    <nb-list class="m-0">
                      <nb-list-item *ngFor="let user of usersOnLine" style="cursor: pointer;">
                        {{ user.userName }}
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>
                <nb-card class="mb-0 h-50">
                  <nb-card-header style="color: rgb(134, 133, 133)">Users offline</nb-card-header>
                  <nb-card-body>
                    <nb-list class="m-0" style="cursor: default; ">
                      <nb-list-item *ngFor="let user of usersOffLine" style="color: dimgray;">
                        {{ user.userName }}
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>

              </div>

            </div>

            <div class="row h-100" *ngIf="!isChat">

                <div class="col d-lg-flex flex-column h-100 ">
                    <nb-card class="mb-1 h-50">
                      <nb-card-header>Users online</nb-card-header>
                      <nb-card-body>
                        <nb-list class="m-0">
                          <nb-list-item *ngFor="let user of usersOnLine" style="cursor: pointer;">
                            {{ user.userName }}
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                    </nb-card>
                    <nb-card class="mb-0 h-50">
                      <nb-card-header style="color: rgb(134, 133, 133)">Users offline</nb-card-header>
                      <nb-card-body>
                        <nb-list class="m-0" style="cursor: default; ">
                          <nb-list-item *ngFor="let user of usersOffLine" style="color: dimgray;">
                            {{ user.userName }}
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                    </nb-card>

                  </div>

            </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
