.checker{
    border-radius: 50%;
   height: 16.6%;
}
.white-checker{
    background-color: whitesmoke;
}
.black-checker{
    background-color: black;
}
.checker-container{
    padding-left: 3px;
    padding-right: 3px;
}
