.top-menu-title {
  font-size: larger;
}
.logout-button {
  color: chocolate;
}
.disconnected {
  color: crimson;
}
.connected {
  color: greenyellow;
}
.screen-size{
  cursor: pointer;
  color: cadetblue;
}
