<div class="h-100 d-flex flex-column justify-content-between">
  <nb-card class="w-100 m-0 p-0" style="height: 49%" [nbSpinner]="loading" nbSpinnerStatus="info">
    <nb-card-header style="padding-top: 3px; padding-bottom: 3px;">Users online</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item
        *ngFor="let user of usersOnLine"
        [class.haveNewPrivateChat]="user.haveNewPrivateChat">
          <div
          *ngIf="owner===user.userName"
          class="float-left user user-owner"
          disabled>{{ user.userName }}</div>
          <div
          *ngIf="owner===user.userName"
          class="d-inline-block float-right close-chat-button"
          style="color:darkgoldenrod;">
          <i class="fas fa-crown user-owner"></i>
          </div>
          <div
          *ngIf="owner!==user.userName"
           class="float-left user clickable"
           (click)="openPrivateChat(user)">{{ user.userName }}</div>
          <div
          *ngIf="user.haveNewPrivateChat"
          class="d-inline-block float-right close-chat-button clickable"
          style="color: crimson;"
          (click)="closePrivateChat(user)">
            <i class="far fa-times-circle float-right"></i>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
  <nb-card class="w-100 m-0 p-0" style="height: 49%">
    <nb-card-header style="color: rgb(134, 133, 133);padding-top: 3px; padding-bottom: 3px;">Users offline</nb-card-header>
    <nb-card-body>
      <nb-list style="cursor: default; ">
        <nb-list-item
        *ngFor="let user of usersOffLine"
        style="color: dimgray;" >
          {{ user.userName }}
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
