
<nb-card class="h-50 w-100 mb-1 p-0">
    <nb-card-header style="padding-top: 3px; padding-bottom: 3px;">Users online</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let user of usersOnLine" style="cursor: pointer;">
          {{ user.userName }}
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
  <nb-card class="h-50 w-100 m-0 p-0">
    <nb-card-header style="color: rgb(134, 133, 133);padding-top: 3px; padding-bottom: 3px;">Users offline</nb-card-header>
    <nb-card-body>
      <nb-list style="cursor: default; ">
        <nb-list-item *ngFor="let user of usersOffLine" style="color: dimgray;">
          {{ user.userName }}
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>


